{% if current_user.privileges != 'Admin' %}
{% extends 'layouts/base.html' %}
{% else %}
{% extends 'layouts/adminbase.html' %}
{% endif %}

{% block title %}HOOP | Connection Type Form{% endblock %}

{% block header %}

{% if is_edit: %}
<h2 class="form-heading">Edit Connection Type
{% if (current_user.privileges != 'Admin') %}
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% else %}
    <a href="{{ url_for('admin_index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% endif %}</h2>
{% elif is_upload: %} 
<h2 class="form-heading">Upload Connection Type CSV
{% if (current_user.privileges != 'Admin') %}
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% else %}
    <a href="{{ url_for('admin_index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% endif %}</h2>
{% else: %}
<h2 class="form-heading">Add New Connection Type
{% if (current_user.privileges != 'Admin') %}
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% else %}
    <a href="{{ url_for('admin_index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% endif %}</h2>
{% endif %}

{% endblock %}

{% block content %}
<div class="form-wrapper">
    {% if is_upload: %}
    <form method="post" class="form" enctype="multipart/form-data" action="{{ url_for('upload_connections_csv') }}">
        {{ form.csrf_token }}
    
        <div class="form-group">
            <label for="file">Choose File</label>
            {{ form.file(class_ = 'form-control', )}}
        </div>
    
        <div class="button">
            <input class="btn btn-lg btn-block" type="submit" value="upload">
        </div>
    </form>
    {% elif is_edit %} 
    <form method="post" class="form" action="{{url_for('update_connection', conn_name=form.conn_name.data)}}">
        {{ form.csrf_token }}
    
        <div class="form-group">
            <label for="conn_name">Connection Name</label>
            {{ form.conn_name(class_ = 'form-control', autofocus = true) }}
        </div>
    
        <div class="form-group">
            <label for="conn_desc">Connection Description</label>
            {{ form.conn_desc(class_ = 'form-control', placeholder='Connection Description', autofocus = true) }}
        </div>
        
        <div class="button">
            <input type="submit" value="Edit Connection Type" class="btn btn-lg btn-block">
        </div>
    </form>
    {% else: %}
    <form method="post" class="form" action="{{url_for('add_connection')}}">
        {{ form.csrf_token }}

        <div class="form-group">
            <label for="conn_name">Connection Name</label>
            {{ form.conn_name(class_ = 'form-control', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="conn_desc">Connection Description</label>
            {{ form.conn_desc(class_ = 'form-control', placeholder='Connection Description', autofocus = true) }}
        </div>
        
        <div class="button">
            <input type="submit" value="Add Connection Type" class="btn btn-lg btn-block">
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}