{% if current_user.privileges != 'Admin' %}
{% extends 'layouts/base.html' %}
{% else %}
{% extends 'layouts/adminbase.html' %}
{% endif %}
{% block title %}HOOP | Radio Form{% endblock %}

{% block header %}

{% if is_edit %}
<h2 class="form-heading">Edit Radio
    {% if (current_user.privileges != 'Admin') %}
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% else %}
    <a href="{{ url_for('admin_index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% endif %}
</h2>
{% elif is_upload: %}
<h2 class="form-heading">Upload CSV
    {% if (current_user.privileges != 'Admin') %}
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% else %}
    <a href="{{ url_for('admin_index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% endif %}
</h2>
{% else: %}
<h2 class="form-heading">Add New Radio
    {% if (current_user.privileges != 'Admin') %}
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% else %}
    <a href="{{ url_for('admin_index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% endif %}
</h2>
{% endif %}

{% endblock %}

{% block content %}
<div class="form-wrapper">
    {% if is_upload: %}
    <form method="post" class="form" enctype="multipart/form-data" action="{{ url_for('upload_radios_csv') }}">
        {{ form.csrf_token }}

        <div class="form-group">
            <label for="file">Choose File</label>
            {{ form.file(class_ = 'form-control', )}}
        </div>

        <div class="button">
            <input class="btn btn-lg btn-block" type="submit" value="UPLOAD">
            <a role="button" href="{{ url_for('get_radios') }}" class="btn btn-lg btn-block">Cancel</a>
        </div>
    </form>
    {% elif is_edit %}
    <form method="post" action="{{ url_for('update_radio', radio_name=form.radio_name.data) }}" class="form">
        {{ form.csrf_token }}

        <div class="form-group">
            <label for="radio_name">Radio Name</label>
            {{ form.radio_name(class_ = 'form-control', placeholder='Radio Name') }}
        </div>

        <div class="button">
            <input type="submit" class="btn btn-lg btn-block" value="update">
            <a role="button" href="{{ url_for('get_radios') }}" class="btn btn-lg btn-block">Cancel</a>
        </div>
    </form>
    {% else: %}
    <form method="post" action="{{ url_for('add_radio') }}" class="form">
        {{ form.csrf_token }}

        <div class="form-group">
            <label for="radio_name">Radio Name</label>
            {{ form.radio_name(class_ = 'form-control', placeholder='Radio Name') }}
        </div>

        <div class="button">
            <input type="submit" class="btn btn-lg btn-block" value="add">
            <a role="button" href="{{ url_for('get_radios') }}" class="btn btn-lg btn-block">Cancel</a>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}