{% if current_user.privileges != 'Admin' %}
{% extends 'layouts/base.html' %}
{% else %}
{% extends 'layouts/adminbase.html' %}
{% endif %}

{% block title %}HOOP | Customers{% endblock %}

{% block header %}
<h2>Users
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
</h2>
{% endblock %}

{% block content %}
<div id="table"></div>
{% endblock %}

{% block scripts %}
<script>
    const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
    };

    new gridjs.Grid({
        columns: [
            { id: 's_n', name: '', width: '20px' },
            { id: 'customer_name', name: 'Customer Name' },
            { id: 'customer_code', name: 'Customer Code' },
            { id: 'customer_subnet', name: 'Subnet' },
            { id: 'customer_mu_ip', name: 'MU IP' },
            { id: 'customer_su_ip', name: 'SU IP' },
            { id: 'customer_provider_edge_router', name: 'Provider Edge Router' },
            { id: 'customer_wan_ip', name: 'WAN IP' },
            { id: 'customer_wan_subnet', name: 'WAN Subnet' },
            { id: 'customer_wan_gateway', name: 'WAN Gateway' },
            { id: 'customer_wan_routing_protocol', name: 'WAN Routing Protocol' },
            { id: 'customer_ip', name: 'Customer IP' },
            { id: 'customer_subnet_mask', name: 'Subnet Mask' },
            { id: 'customer_gateway', name: 'Gateway' },
        ],
        width: 2000,
        resizable: true,
        height: '50%',
        server: {
            url: '/ip-details/data',
            then: results => results.data,
            total: results => results.total,
        },
        search: {
            enabled: true,
            server: {
                url: (prev, search) => {
                    return updateUrl(prev, { search });
                },
            },
        },
        pagination: {
            enabled: true,
            server: {
                url: (prev, page, limit) => {
                    return updateUrl(prev, { start: page * limit, length: limit });
                },
            },
        },
        language: {
            'search': {
                'placeholder': '🔍 Search...'
            },
            'pagination': {
                'previous': 'Previous',
                'next': 'Next',
                'showing': 'Displaying',
                'results': () => 'Records'
            }
        },
        className: {
            table: 'table-responsive'
        }
    }).render(document.getElementById('table'));
</script>
{% endblock %}