{% if current_user.privileges != 'Admin' %}
{% extends 'layouts/base.html' %}
{% else %}
{% extends 'layouts/adminbase.html' %}
{% endif %}

{% block title %}HOOP | Link Details{% endblock %}

{% block header %}
<h2>Link Details
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
</h2>
{% endblock %}

{% block content %}
<div id="table"></div>
{% endblock %}

{% block scripts %}
<script>
    const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
    };

    new gridjs.Grid({
        columns: [
            { id: 's_n', name: '', width: '20px' },
            { id: 'customer_name', name: 'Customer Name', width: '180px' },
            { id: 'customer_code', name: 'Customer Code', width: '180px' },
            { id: 'customer_server', name: 'Smartguard Server', width: '180px' },
            { id: 'customer_conn_type', name: 'Connection', width: '180px' },
            { id: 'customer_basestation_id', name: 'Basestation ID', width: '180px' },
            { id: 'customer_basestation_location', name: 'Basestation Location', width: '180px' },
            { id: 'customer_sector', name: 'Sector', width: '180px' },
            { id: 'customer_switch', name: 'Switch', width: '180px' },
            { id: 'customer_management_vlan', name: 'Management Vlan', width: '180px' },
            { id: 'customer_traffic_vlan', name: 'Traffic Vlan', width: '180px' },
            { id: 'customer_ssid', name: 'Link SSID', width: '180px' },
            { id: 'customer_channel_width', name: 'Channel Width', width: '180px' },
            { id: 'customer_frequency', name: 'Frequency', width: '180px' },
            { id: 'customer_mu_mac_id', name: 'MU Mac ID', width: '180px' },
            { id: 'customer_su_mac_id', name: 'SU Mac ID', width: '180px' },
            { id: 'customer_rssi_ccq_airmax', name: 'RSSI, CCQ, Airmax', width: '180px' },
            { id: 'customer_radio_type', name: 'Radio Type', width: '180px' },
            { id: 'customer_cpe', name: 'CPE', width: '180px' },
            { id: 'customer_wifi_ssid', name: 'Wifi SSID', width: '180px' },
            { id: 'customer_wifi_password', name: 'Wifi Password', width: '180px' },
            { id: 'customer_installation_date', name: 'Installation Date', width: '180px' },
            { id: 'customer_activation_date', name: 'Activation Date', width: '180px' },
            { id: 'customer_installation_engineer', name: 'Installation Engineer', width: '180px' },
        ],
        width: 1800,
        fixedHeader: true,
        height: '600px',
        server: {
            url: '/link-details/data',
            then: results => results.data,
            total: results => results.total,
        },
        resizable: true,
        search: {
            enabled: true,
            server: {
                url: (prev, search) => {
                    return updateUrl(prev, { search });
                },
            },
        },
        pagination: {
            enabled: true,
            server: {
                url: (prev, page, limit) => {
                    return updateUrl(prev, { start: page * limit, length: limit });
                },
            },
        },
        language: {
            'search': {
                'placeholder': '🔍 Search...'
            },
            'pagination': {
                'previous': 'Previous',
                'next': 'Next',
                'showing': 'Displaying',
                'results': () => 'Records'
            }
        },
        className: {
            table: 'table-responsive'
        }
    }).render(document.getElementById('table'));
</script>
{% endblock %}