{% extends 'layouts/base.html' %}

{% block title %}HOOP | Link Details{% endblock %}

{% block header %}
<h2>Customers Link Details
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
</h2>
{% endblock %}

{% block content %}

<form class="search" method="post" action="">
    <input class="form-control" type="search" id="search_box" placeholder="Find customer" aria-label="Search">
</form>

{% for message in get_flashed_messages() %}
<div class=flash>
    {{ message }}
</div>
{% endfor %}

<div class="table-responsive">

    <table class="table align-middle table-hover table-bordered">

        <thead>
            <tr>
                <th>S/N</th>
                <th>Customer Name</th>
                <th>Customer Code</th>
                <th>Smartguard Server</th>
                <th>Connection Type</th>
                <th>Connecting Basestation ID</th>
                <th>Connecting Basestation Location</th>
                <th>Sector</th>
                <th>Switch/Port</th>
                <th>Management Vlan</th>
                <th>Traffic Vlan</th>
                <th>Link SSIQ</th>
                <th>Channel Width</th>
                <th>Frequency</th>
                <th>MU Mac ID</th>
                <th>SU Mac ID</th>
                <th>RSSI, CCQ, Airmax Q</th>
                <th>Radio Type</th>
                <th>Customer CPE</th>
                <th>Customer WiFi SSID</th>
                <th>Customer WiFi Password</th>
                <th>Installation Date</th>
                <th>Activation Date</th>
                <th>Installation Engineer</th>
            </tr>
        </thead>
        <tbody class="table-group-divider" id="search">
            {% for customer in response: %}
            <tr>
                <td>{{ response.index(customer) + 1 }}</td>
                <td>{{ customer.customer_name }}</td>
                <td>{{ customer.customer_code }}</td>
                <td>{{ customer.customer_server }} </td>
                <td>{{ customer.customer_conn_type }} </td>
                <td>{{ customer.customer_basestation_id }}</td>
                <td>{{ customer.customer_basestation_location }}</td>
                <td>{{ customer.customer_sector }}</td>
                <td>{{ customer.customer_switch }}</td>
                <td>{{ customer.customer_management_vlan }}</td>
                <td>{{ customer.customer_traffic_vlan }}</td>
                <td>{{ customer.customer_ssid }}</td>
                <td>{{ customer.customer_channel_width }}</td>
                <td>{{ customer.customer_frequency }}</td>
                <td>{{ customer.customer_mu_mac_id }}</td>
                <td>{{ customer.customer_su_mac_id }}</td>
                <td>{{ customer.customer_rssi_ccq_airmax }}</td>
                <td>{{ customer.customer_radio_type }}</td>
                <td>{{ customer.customer_cpe }}</td>
                <td>{{ customer.customer_wifi_ssid }}</td>
                <td>{{ fernet.decrypt(customer.customer_wifi_password).decode() }}</td>
                <td>{{ customer.customer_installation_date }}</td>
                <td>{{ customer.customer_activation_date }}</td>
                <td>{{ customer.customer_installation_enginner }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#search_box").on("input", function (e) {
            search_text = $("#search_box").val();
            $("#search").empty();
            // console.log(text)
            $.ajax({
                method: "post",
                url: "/search/link-details",
                data: { text: search_text },
                success: function (res) {
                    var data;
                    $.each(res, function (index, value) {
                        data += "<tr>";
                        data += "<td>" + (index + 1) + "</td>";
                        data += "<td>" + value.customer_name + "</td>";
                        data += "<td>" + value.customer_code + "</td>";
                        data += "<td>" + value.customer_server + "</td>";
                        data += "<td>" + value.customer_conn_type + "</td>";
                        data += "<td>" + value.customer_basestation_id + "</td>";
                        data += "<td>" + value.customer_basestation_location + "</td>";
                        data += "<td>" + value.customer_sector + "</td>";
                        data += "<td>" + value.customer_switch + "</td>";
                        data += "<td>" + value.customer_management_vlan + "</td>";
                        data += "<td>" + value.customer_traffic_vlan + "</td>";
                        data += "<td>" + value.customer_ssid + "</td>";
                        data += "<td>" + value.customer_channel_width + "</td>";
                        data += "<td>" + value.customer_frequency + "</td>";
                        data += "<td>" + value.customer_mu_mac_id + "</td>";
                        data += "<td>" + value.customer_su_mac_id + "</td>";
                        data += "<td>" + value.customer_rssi_ccq_airmax + "</td>";
                        data += "<td>" + value.customer_radio_type + "</td>";
                        data += "<td>" + value.customer_cpe + "</td>";
                        data += "<td>" + value.customer_wifi_ssid + "</td>";
                        data += "<td>" + value.customer_wifi_password + "</td>";
                        data += "<td>" + value.customer_installation_date + "</td>";
                        data += "<td>" + value.customer_activation_date + "</td>";
                        data += "<td>" + value.customer_installation_engineer + "</td>";
                        data += "</tr>";
                    });
                    $("#search").html(data);
                }
            })
        });
    })
</script>
{% endblock %}
