{% if current_user.privileges != 'Admin' %}
{% extends 'layouts/base.html' %}
{% else %}
{% extends 'layouts/adminbase.html' %}
{% endif %}
{% block title %}HOOP | Change Implementation Tracker Form{% endblock %}

{% block header %}
{% if is_edit: %}
<h2 class="form-heading">Edit Change Implementation Tracker
    {% if (current_user.privileges != 'Admin') %}
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% else %}
    <a href="{{ url_for('admin_index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% endif %}
</h2>
{% elif is_upload: %}
<h2 class="form-heading">Upload Change Implementation Tracker CSV
    {% if (current_user.privileges != 'Admin') %}
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% else %}
    <a href="{{ url_for('admin_index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% endif %}
</h2>
{% else: %}
<h2 class="form-heading">Add New Change Implementation Tracker
    {% if (current_user.privileges != 'Admin') %}
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% else %}
    <a href="{{ url_for('admin_index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% endif %}
</h2>
{% endif %}
{% endblock %}

{% block content %}

<div class="form-wrapper">
    {% if is_upload: %}
    <form method="post" class="form" enctype="multipart/form-data"
        action="{{ url_for('upload_change_implementation_trackers_csv') }}">
        {{ form.csrf_token }}

        <div class="form-group">
            <label for="file">Choose File</label>
            {{ form.file(class_ = 'form-control')}}
        </div>

        <div class="button">
            <input class="btn btn-lg btn-block" type="submit" value="upload">
            <a role="button" href="{{ url_for('get_change_implementation_trackers') }}"
                class="btn btn-lg btn-block">Cancel</a>
        </div>
    </form>
    {% elif is_edit %}
    <form method="post" class="form"
        action="{{url_for('update_change_implementation_tracker', change_id=form.customer_change_id.data)}}">
        {{ form.csrf_token }}

        <div class="form-group">
            <label for="customer_name">Customer Name</label>
            {{ form.customer_name(class_ = 'form-control', autofocus = true, disabled = true) }}
        </div>

        <div class="form-group">
            <label for="customer_code">Customer Code</label>
            {{ form.customer_code(class_ = 'form-control', autofocus = true, disabled = true) }}
        </div>

        <div class="form-group">
            <label for="customer_change_id">Change ID</label>
            {{ form.customer_change_id(class_ = 'form-control', placeholder='Change ID', autofocus = true, disabled =
            true) }}
        </div>

        <div class="form-group">
            <label for="customer_change_desc">Change Description</label>
            {{ form.customer_change_desc(class_ = 'form-control', placeholder='Change Description', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="customer_change_type">Change Type</label>
            {{ form.customer_change_type(class_ = 'form-control', placeholder='Change Type', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="customer_instructed_by">Instructed By</label>
            {{ form.customer_instructed_by(class_ = 'form-control', placeholder='Instructed By', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="customer_approved_by">Approved By</label>
            {{ form.customer_approved_by(class_ = 'form-control', placeholder='Approved By', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="customer_request_date">Request Date</label>
            {{ form.customer_request_date(class_ = 'form-control', placeholder='Request Date', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="customer_implementation_date_and_time">Implementation Date & Time</label>
            {{ form.customer_implementation_date_and_time(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM:SS',
            autofocus = true)}}
        </div>

        <div class="form-group">
            <label for="customer_implemented_by">Implemented By</label>
            {{form.customer_implemented_by(class_ = 'form-control', placeholder='Implemented By', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="customer_status">Status</label>
            {{ form.customer_status(class_ = 'form-control', placeholder='Status', autofocus = true) }}
        </div>

        <div class="button">
            <input type="submit" value="update" class="btn btn-lg btn-block">
            <a role="button" href="{{ url_for('get_change_implementation_trackers') }}"
                class="btn btn-lg btn-block">Cancel</a>
        </div>
    </form>
    {% else: %}
    <form method="post" class="form"
        action="{{url_for('add_change_implementation_tracker', customers_code=form.customer_code.data)}}">
        {{ form.csrf_token }}

        <div class="form-group">
            <label for="customer_name">Customer Name</label>
            {{ form.customer_name(class_ = 'form-control', autofocus = true, disabled = true) }}
        </div>

        <div class="form-group">
            <label for="customer_code">Customer Code</label>
            {{ form.customer_code(class_ = 'form-control', autofocus = true, disabled = true) }}
        </div>

        <div class="form-group">
            <label for="change_id">Change ID</label>
            {{ form.customer_change_id(class_ = 'form-control', placeholder='Change ID', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="customer_change_desc">Change Description</label>
            {{ form.customer_change_desc(class_ = 'form-control', placeholder='Change Description', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="change_type">Change Type</label>
            {{ form.customer_change_type(class_ = 'form-control', placeholder='Change Type', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="customer_instructed_by">Instructed By</label>
            {{ form.customer_instructed_by(class_ = 'form-control', placeholder='Instructed By', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="customer_approved_by">Approved By</label>
            {{ form.customer_approved_by(class_ = 'form-control', placeholder='Approved By', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="customer_request_date">Request Date</label>
            {{ form.customer_request_date(class_ = 'form-control', placeholder='Request Date', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="customer_implementation_date_and_time">Implementation Date & Time</label>
            {{ form.customer_implementation_date_and_time(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM:SS',
            autofocus = true)}}
        </div>

        <div class="form-group">
            <label for="customer_implemented_by">Implemented By</label>
            {{form.customer_implemented_by(class_ = 'form-control', placeholder='Implemented By', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="customer_status">Status</label>
            {{ form.customer_status(class_ = 'form-control', placeholder='Status', autofocus = true) }}
        </div>

        <div class="button">
            <input type="submit" value="add" class="btn btn-lg btn-block">
            <a role="button" href="{{ url_for('get_change_implementation_trackers') }}"
                class="btn btn-lg btn-block">Cancel</a>
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}