{% extends 'layouts/base.html' %}

{% block title %}HOOP | Customer Password Form{% endblock %}

{% block header %}
{% if is_edit: %}
<h2 class="form-heading">Edit Customer Password
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
</h2>
{% elif is_upload: %}
<h2 class="form-heading">Upload Customer Password CSV
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
</h2>
{% else: %}
<h2 class="form-heading">Add New Customer Password
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
</h2>
{% endif %}
{% endblock %}

{% block content %}

<div class="form-wrapper">
    {% if is_upload: %}
    <form method="post" class="form" enctype="multipart/form-data"
        action="{{ url_for('upload_customers_password_csv') }}">
        {{ form.csrf_token }}

        <div class="form-group">
            <label for="file">Choose File</label>
            {{ form.file(class_ = 'form-control', )}}
        </div>

        <input class="btn btn-lg btn-block" type="submit" value="UPLOAD">
    </form>
    {% elif is_edit %}
    <form method="post" class="form"
        action="{{url_for('update_customer_password', customer_code=form.customer_code.data) }}">
        {{ form.csrf_token }}

        <div class="form-group">
            <label for="customer_name">Name</label>
            {{ form.customer_name(class_ = 'form-control', autofocus = true, disabled = true) }}
        </div>

        <div class="form-group">
            <label for="customer_code">Code</label>
            {{ form.customer_code(class_ = 'form-control', autofocus = true, disabled = true) }}
        </div>

        <div class="form-group">
            <label for="customer_device_type">Device Type</label>
            {{ form.customer_device_type(class_ = 'form-control', placeholder='Device Type', autofocus = true)}}
        </div>

        <div class="form-group">
            <label for="customer_device_ip">Device IP</label>
            {{ form.customer_device_ip(class_ = 'form-control', placeholder='Device IP', autofocus = true)}}
        </div>

        <div class="form-group">
            <label for="customer_username">Username</label>
            {{ form.customer_username(class_ = 'form-control', placeholder='Username', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="customer_password">Password</label>
            {{ form.customer_password(class_ = 'form-control', placeholder='Password', autofocus = true) }}
        </div>

        <div class="button">
            <input type="submit" value="Edit Customer Password" class="btn btn-lg btn-block">
        </div>
    </form>
    {% else: %}
    <form method="post" class="form" action="{{url_for('add_customer_password', customers_code=form.customer_code.data) }}">
        {{ form.csrf_token }}

        <div class="form-group">
            <label for="customer_name">Name</label>
            {{ form.customer_name(class_ = 'form-control', autofocus = true, disabled = true) }}
        </div>

        <div class="form-group">
            <label for="customer_code">Code</label>
            {{ form.customer_code(class_ = 'form-control', autofocus = true, disabled = true) }}
        </div>

        <div class="form-group">
            <label for="customer_device_type">Device Type</label>
            {{ form.customer_device_type(class_ = 'form-control', placeholder='Device Type', autofocus = true)}}
        </div>

        <div class="form-group">
            <label for="customer_device_ip">Device IP</label>
            {{ form.customer_device_ip(class_ = 'form-control', placeholder='Device IP', autofocus = true)}}
        </div>

        <div class="form-group">
            <label for="customer_username">Username</label>
            {{ form.customer_username(class_ = 'form-control', placeholder='Username', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="customer_password">Password</label>
            {{ form.customer_password(class_ = 'form-control', placeholder='Password', autofocus = true) }}
        </div>

        <div class="button">
            <input type="submit" value="Add Customer Password" class="btn btn-lg btn-block">
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}