{% extends 'layouts/base.html' %}

{% block title %}HOOP | Partners{% endblock %}

{% block header %}
<h2>Partners
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
</h2>
{% endblock %}

{% block content %}

<form class="search" method="post" action="">
    <input class="form-control" type="text" id="search_box" placeholder="Find partner" aria-label="Search">
</form>

{% for message in get_flashed_messages() %}
<div class=flash>
    {{ message }}
</div>
{% endfor %}

<table class="table table-hover table-bordered">

    <thead>
        <tr>
            <th>S/N</th>
            <th>Partner ID</th>
            <th>Partner Name</th>
            <th>Partner Contact</th>
            <th>Partner Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider" id="search">
        {% for partner in response: %}
        <tr>
            <td>{{ response.index(partner) + 1 }}</td>
            <td><a href="{{url_for('update_partner', partner_id=partner.partner_id) }}">{{ partner.partner_id }}</a></td>
            <td>{{ partner.partner_name }}</td>
            <td>{{ partner.partner_contact }}</td>
            <td>{{ partner.partner_address }}</td>
            <td><a href="{{ url_for('delete_partner', partner_id=partner.partner_id) }}" onclick="return confirm('Are you sure you want to delete this partner?');">❌</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#search_box").on("input", function (e) {
            search_text = $("#search_box").val();
            $("#search").empty();
            // console.log(text)
            $.ajax({
                method: "post",
                url: "/search/partners",
                data: { text: search_text },
                success: function (res) {
                    console.log(res);
                    var data;
                    var partner_id;
                    $.each(res, function (index, value) {
                        partner_id += value.partner_id;
                        console.log(partner_id)
                        data += "<tr>";
                        data += "<td>" + (index + 1) + "</td>";
                        data += "<td><a href='{{url_for('update_partner', partner_id=partner_id)}}'>" + value.partner_id + "</a></td>";
                        data += "<td>" + value.partner_name + "</td>";
                        data += "<td>" + value.partner_contact + "</td>";
                        data += "<td>" + value.partner_address + "</td>";
                        data += '<td><a href="{{ url_for("delete_partner", partner_id=partner_id) }}" onclick="return confirm("Are you sure you want to delete this vlan?");">❌</a></td>';
                        data += "</tr>";
                    });
                    console.log(data)
                    $("#search").html(data);
                }
            })
        });
    })
</script>
{% endblock %}
