{% if current_user.privileges != 'Admin' %}
{% extends 'layouts/base.html' %}
{% else %}
{% extends 'layouts/adminbase.html' %}
{% endif %}

{% block title %}HOOP | Service Types{% endblock %}

{% block header %}
<h2>Service Types
    {% if (current_user.privileges != 'Admin') %}
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% else %}
    <a href="{{ url_for('admin_index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
    {% endif %}
</h2>
{% endblock %}

{% block content %}
<div id="table"></div>
{% endblock %}

{% block scripts %}
<script>
    const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
    };

    new gridjs.Grid({
        columns: [
            { id: 's_n', name: '', width:'20px' },
            { id: 'service_name', name: 'Service Name', formatter: (cell) => gridjs.html(`<a href='/service-types/${cell}/edit'>${cell}</a>`) },
            { id: 'service_dec', name: 'Service Desc' },
            { id: 'del', name: '', width:'80px', formatter: (_, row) => gridjs.html(`<a href='/service-types/${row.cells[1].data}/delete' onclick="return confirm('Are you sure you want to delete this service?');"><i class="fa-solid fa-trash"></i></a>`) }
        ],
        fixedHeader: true,
        // height: '600px',
        server: {
            url: '/service-types/data',
            then: results => results.data,
            total: results => results.total,
        },
        resizable: true,
        search: {
            enabled: true,
            server: {
                url: (prev, search) => {
                    return updateUrl(prev, { search });
                },
            },
        },
        pagination: {
            enabled: true,
            server: {
                url: (prev, page, limit) => {
                    return updateUrl(prev, { start: page * limit, length: limit });
                },
            },
        },
        language: {
            'search': {
                'placeholder': '🔍 Search...'
            },
            'pagination': {
                'previous': 'Previous',
                'next': 'Next',
                'showing': 'Displaying',
                'results': () => 'Records'
            }
        },
        className: {
            table: 'table-responsive'
        }
    }).render(document.getElementById('table'));
</script>
{% endblock %}