{% extends 'layouts/adminbase.html' %}

{% block title %}HOOP | Users{% endblock %}

{% block header %}
<h2>Users
    <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
</h2>
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class=flash>
    {{ message }}
</div>
{% endfor %}

<table class="table table-hover table-bordered">

    <thead>
        <tr>
            <th>S/N</th>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
            <th>Privileges</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for user in response: %}
        <tr>
            <td>{{ response.index(user) + 1 }}</td>
            <td>
                <a href="{{ url_for('update_user', user_id=user.id) }}">{{ user.username }}</a>
            </td>
            <td>{{ fernet.decrypt(user.password).decode() }}</td>
            <td>{{ user.department }}</td>
            <td>{{ user.privileges }}</td>
            <td><a href="{{ url_for('delete_user', user_id=user.id) }}"
                    onclick="return confirm('Are you sure you want to delete this user?');">❌</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}
